<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/posts.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Inchirieri</title>
</head>
<body>
  <div class="container">

    <nav id="navbar">

      <div id="nav-container">

        <div id="links-container">

          <a href="/" class="home-link">
            <img id="logo" src="../img/aerbnb-logo.png" alt="logo">
          </a>

          <a href="/casa" class="casa-link">
            <span class="case-span">Case</span>
          </a>
  
          <a href="/apartament" class="apartament-link">
            <span class="apartament-span">Apartamente</span>
          </a>

        </div>

        <button id="new-post-button">
          + New Post
        </button>
        
      </div>

    </nav>

    <div id="form-modal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Creeaza o postare noua</h2>

        <form id="new-post-form" action="/new-post/" method="post">
          
          <div id="category-container">
            <input id="casa" value="Casa" type="radio" name="category" checked="checked">
            <label for="casa" class="category-label">Casa</label>

            <input id="apartament" value="Apartament" type="radio" name="category">
            <label for="apartament" class="category-label">Apartament</label>
          </div>

          <input required type="text" placeholder="Nume utilizator" maxlength="16" name="username" class="text-input">
          <input required type="text" placeholder="Titlu" name="title" maxlength="24" class="text-input">

          <div class="textarea-container">
            <textarea required onkeyup="textCounter(this, 'counter', 200)" name="description" placeholder="Descrierea postarii" id="description-input" cols="30" rows="5" maxlength="200" class="text-input"></textarea>
            <p id="counter"></p>
          </div>

          <input required type="text" placeholder="Localitate" maxlength="30" name="city" class="text-input">
          <input required type="number" onchange="constrainNumberInput" placeholder="Pret pe noapte" step="1" name="price" class="number-input" id="price-input">

          <input type="submit" value="Posteaza" class="submit">
        </form>
      </div>
    </div>

    <div class="posts">
      <% data.forEach(post => { %> 
        <div class="post">
            <a href="/posts/<%= post.id %>"><i style="font-size:24px" class="fa menu">&#xf142;</i></a>

            <header class="post-header">
              <h1 class="post-title">
                <%= post.title %> 
              </h1>
              <span class="post-author">
                <%= "@" + post.username %>
              </span>
            </header>
      
            <div class="post-content">
              <div class="post-category-container">
                <span class="post-category">
                  <%= post.category %>
                </span> 
              </div>
              <textarea disabled oninput="autoGrow(this)" class="post-description"><%= post.description %></textarea>
            </div>
            <footer class="post-footer">
              <div class="post-city"><%= post.city %></div>
              <div class="post-price"><%= post.price + " lei" %></div>
            </footer>
        </div>
    <% }); %>
    <% if(data.length >= 3) { %>
      <a href="/view-all" class="view-all">View all...</a>
    <% }; %>
    </div>

    <% if(data.length == 0) { %>
      <h1 class="not-found"><%= "Ne pare rau, nu a fost gasita nici o postare..." %></h1>
      <a class="home-page-link" href="/">Mergi inapoi pe pagina principala</a>
    <% }; %>

  </div>

  <script src="/js/home.js" defer></script>
</body>
</html>