<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/posts.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
  <script src='https://kit.fontawesome.com/4d7e654d9f.js' crossorigin='anonymous'></script>
  <title>Inchirieri</title>
</head>
<body>
  <div class="container">

    <nav id="navbar">

      <div id="nav-container">

        <div id="links-container">

          <a href="/" class="home-link">
            <img id="logo" src="../img/aerbnb-logo.png" alt="logo">
          </a>

          <a href="/casa" class="casa-link">
            <span class="case-span">Case</span>
          </a>
  
          <a href="/apartament" class="apartament-link">
            <span class="apartament-span">Apartamente</span>
          </a>

        </div>
        
      </div>

    </nav>

    <div id="form-modal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Editeaza postarea</h2>

        <form id="new-post-form" action="/edit-post/" method="post">
          
          <div id="category-container">
            <input id="casa" value="Casa" type="radio" name="category" <%- data.category == "Casa" ? "checked" : "" %>>
            <label for="casa" class="category-label">Casa</label>

            <input id="apartament" value="Apartament" type="radio" name="category" <%- data.category == "Apartament" ? "checked" : "" %>>
            <label for="apartament" class="category-label">Apartament</label>
          </div>

          <input required type="text" readonly value="<%= data.username %>" maxlength="16" name="username" class="text-input">
          <input required type="text" value="<%= data.title %>" placeholder="Titlu" name="title" maxlength="24" class="text-input">

          <div class="textarea-container">
            <textarea required onkeyup="textCounter(this, 'counter', 200)" name="description" placeholder="Descrierea postarii" id="description-input" cols="30" rows="5" maxlength="200" class="text-input"><%= data.description %></textarea>
            <p id="counter"></p>
          </div>

          <input required type="text" value="<%= data.city %>" placeholder="Localitate" maxlength="30" name="city" class="text-input">
          <input required type="number" onchange="constrainNumberInput" value="<%= data.price %>" placeholder="Pret pe noapte" step="1" name="price" class="number-input" id="price-input">

          <input style="display: none;" type="text" name="id" value="<%= data.id %>">
          <input style="display: none;" type="text" name="date" value="<%= data.date %>">

          <input type="submit" value="Finalizeaza" class="submit">
        </form>
      </div>
    </div>

    <div class="posts">
      <div class="post edit">
        <header class="post-header">
          <h1 class="post-title">
            <%= data.title %> 
          </h1>
          <span class="post-author">
            <%= "@" + data.username %>
          </span>
        </header>
    
        <div class="post-content">
          <div class="post-category-container">
            <span class="post-category">
              <%= data.category %>
            </span> 
          </div>
          <textarea disabled oninput="autoGrow(this)" class="post-description"><%= data.description %></textarea>
        </div>
    
        <footer class="post-footer">
          <div class="post-city"><%= data.city %></div>
          <div class="post-price"><%= data.price + " lei" %></div>
        </footer>
        <div class="info-container">
          <div class="buttons-container">
            <button onclick="sendDeleteRequest('<%= data._id %>')" id="post-delete">X Delete</button>
            <button id="post-edit"><i class="fa-solid fa-pen"></i> Edit</buton>
          </div>
          <div class="post-date"><%= data.createdAt.toUTCString().split(' ').slice(1).slice(0, -2).join(' ')  %></div>
        </div>
      </div>
    </div>

  <script src="/js/post.js" defer></script>
</body>
</html>